body{
    margin: 0%;
}
header{
    background-color:rgb(231, 206, 182);
    padding: 1%;
    text-align: center;
}
h1{
    color: rgb(56, 42, 16);
}
.navbar{
    overflow: hidden;
    background-color: rgb(231, 206, 182);
}
.navbar a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}